.home{
    width: 95vw;
    margin-top: 20px;
    margin-left: 30px;
   background-color: #1F1F1F;
    border-radius: 20px;
    padding: 0px  100px;
    padding-top: 100px;
    height: 100vh;
    color: white;
}